body {
	background: transparent url("../images/plaid.png") repeat 0 0;
}

#main {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	background: rgba(100, 100, 100, 0.5);
	height:100%;
}

#title {
	padding-left: 21%;
	padding-top: 8%;
	font-size: 70px;
	color: #A52A2A;
}