<html>
	<head>
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="static/css/base.css">
	<body>
		<div id="main">
			<h1 id="title">
				CMU Happy Hours
			</h1>

			<form action="get_timings" method="get">
				<input id="search" type="text" placeholder="15-221">
				<input id="submit" type="submit" value="Submit">
			</form>

			<div id="description">
				<p> 
					CMU Happy Hours is a collection of office hours hosted by
				    various TAs at Carnegie Mellon! Enter your course number above and find the time and venue of the office hours hosted by your TA!
				</p>
				<br />
				<p>
					If you are a TA and would like your office hours posted, please contact us.
				</p>
				<br />
				<p>
				    This project is brought to you by Arjun Hans, Samaan Ghani, Vishalsai Daswani and Mihir Pandya of Carnegie Mellon University.
				</p>
			</div>
		</div>
	</body>
</html>